@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  .font-display {
    font-family: var(--font-archivo);
  }
  .font-stencil {
    font-family: var(--font-saira-stencil);
  }
  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-flash {
  animation: flash 2s infinite;
}